pybtex==0.22.2
numpy==1.19.2
bibtexparser==1.1.0
pandas==1.1.3
pylatexenc==2.1
sos==0.21.5
sos-notebook==0.21.7
habanero==0.7.2
tqdm==2.2.3
ethnicolr==0.4.0
matplotlib==3.3.2
seaborn==0.11.0
scipy==1.5.3
h5py==2.10.0
oauthlib==3.0.1
rsa==4.7
Keras>=2.2.4
tensorflow>=1.15.2